services:
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    ports:
      - "9094:9094"
    environment:

      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:9094,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,EXTERNAL://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

  kafka-init:
    image: apache/kafka:3.7.0
    depends_on:
      - kafka
    volumes:
      - ./scripts/create-topics.sh:/create-topics.sh
    entrypoint: ["bash", "/create-topics.sh"]

  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    container_name: kafdrop
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: kafka:9092
    depends_on:
      - kafka

  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: spark
      POSTGRES_PASSWORD: krypto
      POSTGRES_DB: crypto
    volumes:
      - pgdata:/var/lib/postgresql/data

  spark:
    image: apache/spark:3.5.0
    container_name: spark
    depends_on:
      - kafka
      - postgres
    environment:
      SPARK_USER: spark
    volumes:
      - ../spark:/opt/spark-apps
    command: >
      /opt/spark/bin/spark-submit
      --master local[*]
      --conf spark.jars.ivy=/tmp/ivy
      --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0,org.postgresql:postgresql:42.7.3
      /opt/spark-apps/spark_streaming.py
    ports:
      - "4040:4040"
volumes:
  pgdata: